*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: #252525;
    display: block;
    width: 100%;
    height: 10vh;
    font-family: 'Dancing Script';
    font-size: 12px;
}

#photo_container {
    background-color: #424242;
    float: right;
    height: 10vh;
    width: 6.3vw;
    animation: right-load 1100ms cubic-bezier(0, 0.46, 0.24, 0.99);
}

#photo {
    height: 9vh;
    width: 5.85vw;
    padding: 4% 4% 0% 3%;
}

#logo_container {
    height: 10vh;
    width: 6.3vw;
    animation: left-load 1700ms cubic-bezier(0, 0.46, 0.24, 0.99);
}

#logo_link:hover {
    color: inherit;
}

.main {
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.contentdivs {
    background-color: rgb(155, 155, 155);
    min-height: 82vh;
    border: 2px solid #242020;
    padding-left: 2.55vw;
    padding-right: 2.55vw;
    padding-top: 2vh;
}

#navbar {
    background-color: rgb(155, 155, 155);
    min-height: 82vh;
    border: 2px solid #242020;
    width: 14.45vw;
    animation: left-load 1000ms cubic-bezier(0, 0.46, 0.24, 0.99);
}

#content {
    width: 86vw;
    animation: right-load 1000ms cubic-bezier(0, 0.46, 0.24, 0.99);
}

.navbar_button {
    background-color: #2b2b2b;
    color: white;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size : 16px;
}

.navbar_button:hover {
    background-color: #575757;
}

.navbar_button:active {
    background-color: #000000;
}

.content_ul {
    margin-left: 1vw;
}

.content_ul li {
    list-style-type: "\1F44D";
}

.content_head {
    text-align: center;
    font-weight: 900;
}

.footercontent {
    flex: 1;
    margin: 10px;
}

.footercontent:first-child {     /*mail*/
    margin-left: 5vh;
  }

.footer {   
    background-color: #252525;
    margin-top: auto;
    min-height: 5.6vh;
    display: flex;
    width: 100%;
    align-items: center;
}

#github {
    float: right;
    text-align: right;
    width: 50%;
    padding-right: 3vw;
}

.span_modules {
    font-style: italic;
}

.content_github_link, a, .footer {
    color: #ffffff;
    font-style: italic;
}

.content_github_link:hover, a:hover{
    color: #fff0f0;
}

.content_github_link:active, a:active {
    text-decoration: none;
    color: #d3caca;
}

#mail {
    float: left;
    width: 50%;
    padding-left: 3vw;
}

.content_text {
    width: 45vw;
    word-wrap: break-word;
    margin-bottom: 3.5vh;
    padding-top: 2vh;
}

.content_gallery {
    width: 32vw;
    height: 32vh;
    float: right;
    padding-top: 3.5vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.content_video {
    width: 31.8vw;
    height: 32vh;
    float: right;
    margin-top: 7vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 7px;
    border: 2px solid #242020;
    object-fit: fill;
}

#div4 .content_video, #div5 .content_video {
    height: 37vh;
    margin-top: 0vh;
}

.video_button {
    background-color: #2b2b2b;
    color: white;
    font-size: 18px;
    border-radius: 1px;
    width: 4.8vw;
    height: 58.4%;
    margin-top: 0;
    position: absolute;
    transition-duration: 0.3s;
    outline: solid 1px black;
}

.video_button:hover {
    background: rgb(139, 139, 136)
}

#right_video_button {
    float: right;
}

#div6_video_gallery {
    display: flex;
    width: 60%;
    margin: 0px auto;
    min-height: 76.9vh;
    object-fit: fill;
    text-align: center;
}

#video_6div video{
    object-fit: fill;
    width: 80%;
    height: 76%;
    outline: solid 1px black;
}


#div_for_vid_number {
    text-align: center;
    margin-top: -3%;
    margin-bottom: 2vh;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content_photo {
    width: 31.8vw;
    height: 32vh;
    object-fit: fill;
    border: 2px solid #242020;
    border-radius: 7px;
}

.gallery_button {
    color:rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    width: 3vw;
    height: 32vh;
    position: absolute;
    top: 3.7vh;
    right: 0;
    background: rgba(190, 187, 187, 0.1);
    transition-duration: 0.3s;
}

.gallery_button2 {
    color:rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    width: 3vw;
    height: 32vh;
    position: absolute;
    top: 3.7vh;
    left: 0;
    background: rgba(190, 187, 187, 0.1);
    transition-duration: 0.3s;
}

.gallery_button:hover {
    color:rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}

@keyframes left-load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes right-load {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}